{% extends "base.html" %}
{% block title %}
Domain Update Page
{% endblock title%}
{%block content%}
<div id="domain">
  <form action="/domain/" method = "get">
    domain_name:<input type="text" id="domain_name" name="domain" ><br>
    domain_rrset:<input type ="text" id="domain_rrset" name="domain_rrset"><br>
    domain_addr:<input type = "text" id="domain_addr" name="domain_addr"><br>
    zone:<input type = "text" id = "zone" name = "zone"><br>
    server:<input type = "text" id = "server" name = "server"><br>
    <p>result: <span id = "result"> </span></p>
    <button type="button" id = "update_submit" >domain update</button>
  </form>
  <script>
    $(document).ready(function(){
      $("#update_submit").click(function(){

        var domain = $("#domain_name").val();
        var domain_rrset = $("#domain_rrset").val();
        var domain_addr = $("#domain_addr").val();
        var zone = $("#zone").val();
        var server = $("#server").val();

        $.get("/domain/",{"domain":domain,"domain_rrset":domain_rrset,"domain_addr":domain_addr,"zone":zone,"server":server},function(ret){
          $("#result").html(ret)
        })
      });
    });

  </script>
</div>
{% endblock content%}
